.media {
  height: 260;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}

.cardActions {
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}
